$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px

$font-family: 'Open Sans', sans-serif;

$color-light-orange: #f2d1a8;
$color-light-grey: #ebebeb;
$color-lighter-green: #669b7c;
$color-darker-green: #557669;