.book {
    width:70rem;
    height:15rem;
    border-top: solid lightgrey;
    display: flex;
    justify-content: center;
    padding:1rem;
    
    &__cover {
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       width:15rem;

        &-image {
            width:40%;
            height:60%;
           
        }
    }
    &__data {
        width:55rem;
        display:flex;
        flex-direction: column;
        justify-content: space-around;

        &-headers {
            padding-top:1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex:1;
            h6 {
                flex-basis: 20%;
            }

        }

        &-values {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex:1;
            font-size:0.9rem;

            p {
                flex-basis: 20%;
                padding-right:1rem;
            }
        }
    }
}

lrm-rating {
    font-size: 0.6rem;
}



